{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
<div class="module actions" id="link-list-module">
    <h2>{{ module.title }}</h2>
    <div class="module">
        <ul>
            {% spaceless %}
            {% for child in module.children %}
            <li>
                <a{% if child.external %} class="external-link"{% endif %} href="{{ child.url }}" {% if child.description %} title="{{ child.description }}"{% endif %}>{{ child.title }}</a> 
            </li>
            {% endfor %}
            {% endspaceless %}
        </ul>
    </div>
</div>
{% endblock %}
