.str {
    color: #999; 
}
.kwd {
    color: #999; 
}
.com{color:#800}
.typ{color:#606}
.lit{color:#066}

/*  Brackets    */
.pun {
    margin: 0 1px;
    color: #999;
}

.pln{color:#aaa}

/*  Class    */
.atn {
    margin-left: 3px;
    color: #666;
}

.atv {
    color: #8fbf30;
}
.atv-custom, 
.atv-custom span {
    color: #d057d9 !important;
}
.dec{color:#606}

pre.prettyprint{
    padding: 2px 2px 2px 5px;
    border-left: 5px solid #eee;
/*    -moz-border-radius: 5px;*/
}

*[class*="tag"] {
    color: #309bbf;
/*    color: #444;*/
}

.tag-content {
    font-weight: bold;
}

.atv-content {
    color: #8fbf30; font-weight: bold;
}
.atv-custom-content {
    color: #d057d9; font-weight: bold;
}

.highlight * {
    color: #e1a1e5;
}


@media print{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun{color:#440}.pln{color:#000}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}